*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  background-image: url("./../img/raquel_001.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 34%;
  margin: 0 auto;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  h1 {
    font-weight: normal;
    color: white;
    margin: 0.8rem auto;
  }

  .wrapper-form {
    height: 80%;
    width: 80%;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.8rem;
    flex-flow: column;
    padding: 0.8rem;
    // B58487
    // F50038
    // background-color: rgba(0, 0, 0, 0.637);
    background-image: linear-gradient(to bottom, #b5848754, #f500393d);

    .form-element {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        width: 100%;
        padding: 0.8rem 1rem;
        margin: 0.8rem auto;
        background: inherit;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 50px;
        color: white;
        font-size: 1.2rem;
        font-weight: normal;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: white;
        }
      }
      .label {
        width: 50%;
        display: flex;
        align-items: center;

        input {
          width: 60px;
        }
        label {
          color: white;
          width: 100%;
        }
      }
      a {
        color: white;
      }

      .btn {
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.514);
        background: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: white;
        border-radius: 50px;
        padding: 0.8rem;
        background-color: rgba(233, 227, 227, 0.664);
        transition: all 0.4s;
        font-weight: bold;

        &:hover {
          background-color: rgb(255, 255, 255);
          cursor: pointer;
          color: black;
        }
      }
    }
  }
}
